# used to make llm calls
OPENROUTER_API_KEY=your_openrouter_api_key_here

# llm model
PRIMARY_MODEL=openai/gpt-oss-120b

# groq
GROQ_API_KEY=your_groq_api_key_here

# fallback llm model
FALLBACK_MODEL=nvidia/nemotron-3.5-lightning:free

# LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT="resume-agent"

# E2B Sandbox
E2B_API_KEY=your_e2b_api_key_here

# AWS S3 Storage Config
USE_S3_STORAGE=false                                                                                                    
AWS_S3_BUCKET_NAME=your_s3_bucket_name                                                                                   
AWS_REGION=ap-south-1                                                                                                  
AWS_ACCESS_KEY_ID=your_aws_access_key_id                                                                                   
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# Supabase Auth
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
